# OS / Editor
.DS_Store
.vscode/
*.swp
*.swo

# VS Code temp runner
tempCodeRunnerFile.rb

# Ruby / Bundler
/.bundle/
vendor/bundle/

# Logs & temp
log/
*.log
/tmp/
coverage/
InstalledFiles
/pkg/

# Tests
/spec/reports/
spec/examples.txt
/test/tmp/
test/version_tmp/

# Docs
/.yardoc/
_yardoc/
doc/
rdoc/

# Debugger
.byebug_history

# RVM
.rvmrc

# Env
.env

